*{
    font-family: "Roboto", sans-serif;;
}
.container{
    max-width: 1200px;
}
.listt{
    gap: 38px;
    margin: 0;
    padding: 0;
    margin-left: 29px;
    li{
        list-style: none;
    }
    a{
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #212121;
        text-decoration: none;
    }
}
.right{
    gap: 38px;
}
.right-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
    text-decoration: none;
}
.contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #fff;
    text-decoration: none;
    padding: 7px 26px;
    border: 1px solid #f46a35;
    border-radius: 10px;
    background-color: #f46a35;
}
.text{
    padding-top: 76px;
    max-width: 494px;
    h1{
        font-weight: 400;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #212121;
        margin-bottom: 23px;
    }
}
.text__link{
    gap: 8px;
    a{
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        padding: 13px 32px;
        border-radius: 10px;
        text-decoration: none;
        margin-bottom: 76px;
    }
}
.link__first{
    color: #fff;
    border: 1px solid #f46a35;
    background-color: #f46a35;
}
.link__second{
    color: #212121;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.info__block{
    max-width: 504px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 33px;
    h4, p{
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #212121;
    }
    h4{
        font-size: 16px;
        line-height: 125%;
    }
    a{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #f46a35;
        text-decoration: none;
        &::after{
            content: "";
            display: inline-block;
            background-image: url(../img/arrow.svg);
            width: 13px;
            height: 8px;
            margin-left: 6px;
        }
    }
}
.enterprise{
    margin-bottom: 31px;
}
.emblems{
    margin-bottom: 206px;
}
.solutions{
    h1{
        font-weight: 400;
        color: #212121;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.04em;
    }
    a{
        border-radius: 10px;
        padding: 13px 41px;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        text-decoration: none;
    }
    h3{
        font-weight: 400;
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 0.02em;
    }
}
.solutions__text{
    font-weight: 400;
    color: #212121;
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.02em;
}
.pic_ban-dark{
    background: url(../img/bg-dark.jpg);
    a{
        border: 1px solid #fff;
        color: #fff;
    }
    h3{
        color: #fff;
    }
    p{
        max-width: 476px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
    }
}
.pic_ban-rose{
    background: url(../img/bg-rose.jpg);
    a{
        border: 1px solid #212121;
        color: #212121;
    }
    h3{
        color: #212121;
    }
    p{
        max-width: 444px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #212121;
    }
}
.flexible{
    background-color: #f9f9f9;
}
.flexible__text{
    max-width: 850px;
    padding: 95px 0 40px;
    h3{
        margin-bottom: 21px;
        font-weight: 400;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.04em;
        color: #212121;
    }
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #212121;
        margin-bottom: 25px;
    }
    a{
        border: 1px solid #212121;
        border-radius: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #212121;
        text-decoration: none;
        padding: 13px 21px;
    }
}
.comment{
    padding: 250px 263px 227px;
    text-align: center;
    p{
        font-weight: 400;
        font-size: 22px;
        line-height: 109%;
        color: #212121;
    }
    span{
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #212121;
    }
}
.cards{
    margin-bottom: 161px;
}
.cards__item{
    margin-bottom: 81px;
    gap: 64px;
}
.cards-describe{
    max-width: 325px;
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #212121;
    }
    a{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #f46a35;
        text-decoration: none;
        &::after{
            content: "";
            display: inline-block;
            background-image: url(../img/arrow.svg);
            width: 13px;
            height: 8px;
            margin-left: 6px;
        }
    }
}
.cards__emblem{
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 1104px;
    .col-3{
        padding: 75px 0;
    }
    .cards__emblem-left{
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}
.advertising{
    background-color: #f9f9f9;
}
.advertising__text{
    max-width: 440px;
    padding-top: 110px;
    h2{
        font-weight: 400;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #212121;
    }
    p{
        margin-bottom: 33px;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #212121;
    }
}
.footer__wrapper{
    background-color: #171717;
    padding-top: 120px;
}
.footer__list{
    gap: 198px;
    margin-bottom: 97px;
    h6{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
    }
    li{
        margin-bottom: 8px;
        list-style: none;
        a{
            font-weight: 400;
            font-size: 14px;
            line-height: 157%;
            color: #bcbdbd;
            text-decoration: none;
        }
    }
}
.footer__links{
    gap: 192px;
    margin-bottom: 131px;
}
.footer__copyright span, a, p{
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
}
span, a{
    color: #bcbdbd;
}
p{
    color: #fff;
}
a{
    text-decoration: none;
}

