body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    outline: 1px solid red;
}
.container{
    max-width: 1200px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    letter-spacing: 0,02em;
}
.navbar-brand{
    margin-right: 29px;
}
.navbar-nav{
    gap: 38px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
.nav-link, 
.header__right-link{
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    color: #212121;
    transition: 0.3s;
    &:hover{
        color: #f46a35;
    }
}
.header__right{
    gap: 38px;
}
.header__right-contacts{
    font-size: 14px;
    line-height: 157%;
    color: #fff;
    padding: 7px 26px;
    border: 1px solid #f46a35;
    border-radius: 10px;
    background-color: #f46a35;
    transition: 0.3s;
    &:hover{
        background-color: #fff;
        color: #f46a35;
    }
}
.text{
    padding-top: 76px;
    max-width: 494px;
    h1{
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0,04em;
        color: #212121;
        margin-bottom: 23px;
    }
}
.text__links{
    gap: 8px;
    margin-bottom: 76px;
    a{
        font-size: 14px;
        line-height: 157%;
        padding: 13px 32px;
        border-radius: 10px;
    }
}
.link__first{
    color: #fff;
    border: 1px solid #f46a35;
    background-color: #f46a35;
    transition: 0.3s;
    &:hover{
        background-color: #fff;
        color: #f46a35;
    }
}
.link__second{
    color: #212121;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: 0.3s;
    &:hover{
        background-color: #f9f9f9;
        border: 1px solid #212121;
    }
}
.info__block{
    max-width: 504px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 33px;
    h4, p{
        letter-spacing: 0.02em;
        color: #212121;
    }
    h4{
        font-size: 16px;
        line-height: 125%;
    }
    a{
        font-size: 16px;
        line-height: 150%;
        color: #f46a35;
        transition: text-shadow 0.3s ease;
        &::after{
            content: "";
            display: inline-block;
            background-image: url(../img/arrow.svg);
            width: 13px;
            height: 8px;
            margin-left: 6px;
            transition: 0.3s;
        }
        &:hover{
            text-shadow: 0 0 1px #f46a35;
            &::after{
                margin-left: 12px;
            }
        }
    }
}
.enterprise{
    margin-bottom: 31px;
}
.emblems{
    margin-bottom: 206px;
}
.solutions{
    h2{
        font-size: 36px;
        line-height: 144%;
    }
    h3{
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 0.02em;
    }
    a{
        border-radius: 10px;
        padding: 13px 41px;
        font-size: 14px;
        line-height: 157%;
    }
}
.solutions__text{
    color: #212121;
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.02em;
}
.pic_ban-dark{
    max-width: 580px;
    background: url(../img/bg-dark.jpg);
    h3, a, p{
        color: #fff;
    }
    a{
        border: 1px solid #fff;
        transition: 0.3s;
        &:hover{
            background-color: #fff;
            color: #212121;
    }
    }
    p{
        max-width: 476px;
        font-size: 16px;
        line-height: 150%;
    }
}
.pic_ban-rose{
    max-width: 580px;
    background: url(../img/bg-rose.jpg);
    h3, a ,p{
        color: #212121;
    }
    a{
        border: 1px solid #212121;
        transition: 0.3s;
        &:hover{
            background-color: #fff;
            color: #212121;
    }
    }
    p{
        max-width: 444px;
        font-size: 16px;
        line-height: 150%;
    }
}
.flexible{
    background-color: #f9f9f9;
}
.flexible__text{
    max-width: 850px;
    padding: 95px 0 40px;
    h3{
        margin-bottom: 21px;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.04em;
        color: #212121;
    }
    p{
        font-size: 20px;
        line-height: 160%;
        color: #212121;
        margin-bottom: 25px;
    }
    a{
        border: 1px solid #212121;
        border-radius: 10px;
        font-size: 14px;
        line-height: 157%;
        color: #212121;
        padding: 13px 21px;
        transition: 0.3s;
        &:hover{
            background-color: #fff;
    }
    }
    img{
        @media (max-width: 1024px){
            max-width: 100%;
        }

    }
}
.comment{
    padding: 250px 263px 227px;
    text-align: center;
    p{
        font-size: 22px;
        line-height: 109%;
        color: #212121;
    }
    span{
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #212121;
    }
}
.cards{
    margin-bottom: 161px;
}
.cards__item{
    margin-bottom: 81px;
    gap: 64px;
}
.cards-describe{
    max-width: 325px;
    p{
        font-size: 20px;
        line-height: 140%;
        color: #212121;
    }
    a{
        font-size: 16px;
        line-height: 150%;
        color: #f46a35;
        transition: text-shadow 0.3s ease;
        &::after{
            content: "";
            display: inline-block;
            background-image: url(../img/arrow.svg);
            width: 13px;
            height: 8px;
            margin-left: 6px;
            transition: 0.3s;
        }
        &:hover{
            text-shadow: 0 0 1px #f46a35;
            &::after{
                margin-left: 12px;
            }
        }
    }
}
.cards__emblem{
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 1104px;
    .col-lg-3{
        padding: 75px 0;
    }
    .cards__emblem-left{
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    img{
        max-width: 100%;
        height: auto;
    }
}
.advertising{
    background-color: #f9f9f9;
}
.advertising__text{
    max-width: 440px;
    padding-top: 110px;
    h2{
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #212121;
    }
    p{
        margin-bottom: 33px;
        font-size: 20px;
        line-height: 160%;
        color: #212121;
    }
}
.bg-transparent{
    transition: 0.3s;
    &:hover{
        background-color: #212121 !important;
        color: #fff;
    }
}
.footer__wrapper{
    background-color: #171717;
    padding-top: 120px;
}
.footer__list{
    gap: 198px;
    margin-bottom: 97px;
    h6{
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
    }
    li{
        margin-bottom: 8px;
        a{
            font-size: 14px;
            line-height: 157%;
            color: #bcbdbd;
        }
    }
}
.footer__links{
    gap: 192px;
    margin-bottom: 131px;
}
.footer__copyright span, a, p{
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #fff;
    a{
        color: #bcbdbd;
    }
}

